  
.imageeee{
  border-radius:50px;
}
.logocon{
  display: flex;
  flex-direction: row;
 
  align-items: center;
}
.logocon img{
  margin:10px;
}
.paraaelement{
  font-weight: 0px;
}
.youmaylike-section{
  width:100%;
}